body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
body{
    background-image: url(img/dark-surface-with-blank-space-fast-food-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #2c2c2c;
    color: white;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    width: 90%;
    width: 1100px;
    margin: 30px auto;
}

h2 {
    border-bottom: 3px solid #c59d5f;
    padding-bottom: 10px;
    margin-top: 40px;
    color: gold;
}

.box1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.box2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.box2 img {
    width: 100%;
    height: 180px;
}

.box2 .napitki {
    padding: 15px;
}

.box2 .ovqat {
    padding: 15px;
}

.box2 .disert {
    padding: 15px;
}

.box2 h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.box p {
    margin: 0 0 10px;
    font-size: 14px;
    color: gold;
}

.narx {
    color: #c59d5f;
    font-size: 16px;
}

.box3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box4 {
    display: flex;
    justify-content: end;
    align-items: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
    margin-top: 40px;
}
div button{
    width: 300px;
    height: 30px;
    color: white;
    background-color: rgba(58, 29, 29, 0.705);
    border-radius: 30px;
}
 .home a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.home{
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: rgb(143, 143, 143);
    border: none;
}
div button a{
    text-decoration: none;
    color: white;
}









/* ===== media ===== */
@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    header img {
        width: 70px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .box2 {
        width: 95%;
        padding: 10px;
    }

    .box2 img {
        max-width: 100%;
        height: auto;
    }
    button {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }

    button a {
        display: block;
    }
    .home {
        width: 100%;
        margin-top: 10px;
    }
    footer img {
        width: 60px;
    }
}
